.bg-wander-white{
  background-color: #f2f0ea;
}
.bg-wander-brown{
  background-color: #e1ccbe;
}
.wander-brown-text{
  color: #e1ccbe;
}
.wander-black-text{
  color: #585755;
}

.bg-wander-grey{
  background-color: #b9af9c;
}

.bg-bc-green{
  background-color: #80947e;
}
.bc-green-text{
  color: #80947e;
}