/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap'); */
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
--font-header: 'Source Serif Variable','Merriweather', 'Avenir', 'Playfair Display', 'Poppins', 'Oswald', serif;
  --font-body: 'Source Serif Variable','Avenir','Open Sans', 'Trebuchet MS', 'Helvetica Neue', sans-serif;
  --foreground-rgb: 0, 0, 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Variable';
}
a, p, span, li, div {
  font-family: 'Source Serif Variable'; /* or your default Tailwind font, e.g., font-sans */
}

html, body {
  margin: 0;
  font-family: 'Source Serif Variable';
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
  color: rgb(var(--foreground-rgb));
  /* background-color: #d4bea6; */
}

h1, h2, h3 {
  font-family: var(--font-header);
  font-weight: 550;
}

p {
  font-family: var(--font-body);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

